{% extends "front/base.html.twig" %}

{% block main %}

	{% for category in categories %}
		<div class="container">
			<div class="card" style="width: 50%;">
				<img src="https://picsum.photos/450/250" class="card-img-top" alt="...">
				<div class="card-body">

					<h2>

						<a href="{{ path("category_show", {'id' : category.id } ) }}">
							<button type="button" class="btn btn-primary">{{ category.name }}</button>
						</a>
					</h2>

				</div>
			</div>
		</div>
	{% endfor %}

{% endblock %}
